<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="oracle" connectionString="Data Source=eden02;Persist Security Info=True;User ID=asa0815;Password=asa0815eg;Unicode=True" />
  <add name="PetDataContext" connectionString="Data Source=orcl;User ID=hr;Password=1234;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

</configuration>
